

<script src="~/Scripts/jquery-1.7.2.min.js"></script>
<script src="~/newscriptcss/js/jquery.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    //Call EmpDetails jsonResult Method
    //    $.getJSON("Roles/GetRoles",
    //    //function (json) {
       
    //    //    debugger;
    //    //    //Append each row to html table
    //    //    for (var i = 0; i < json.length; i++)
    //    //    {

    //    //        var tableHTML = '<tr><td>username</td><td>Email</td></tr>';
    //    //        //for (var i = 0; i < json.length; i++)
    //    //        //    tableHTML += '<tr><td>' + json[i].roleID + '</td><td>' + json[i].roleDescription + '</td></tr>';
    //    //        //document.getElementById('#mytable').innerHTML = tableHTML;
    //    //        alert(tableHTML);
    //    //    }
            
    //    });
   // });
</script>
<table id="mytable">

    <tr>
        <td>roleID</td>
        <td>roleName</td>
        <td>roleDescription</td>
    </tr>

    <tbody></tbody>
</table>
