@{
    ViewBag.Title = "Search";
  
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog " style="width:950px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Property Details </h4>
                <p style="float:right;"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></p>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Views/Shared/_PropertySearch.cshtml")


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "List")
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#myModal").modal('show');

    });
</script>
